* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  background-color: #f9f9f9;
}
.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
