.bigBox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 300px;
  border: 1px solid orange;
}

.box {
  border: 1px solid blue; /* For visibility */
}

.flexContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  width: 300px;
  height: 50px;
}
.header {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.68px;
  color: #dd0000;
}
.link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.btn {
  color: #fff;
  background: #dd0000;
  padding: 10px;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bg {
  z-index: 9999;
  position: absolute;
  bottom: 0px;
  /* margin: 358px 0; */
  width: 100%;

  background-color: rgba(35, 31, 32, 0.6);
  padding: 10px;
}
.bg p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 10px 0;
}
.bg1 {
  margin: 103px 0;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: rgba(35, 31, 32, 0.6);
  padding: 10px;
}
.bg2 {
  margin: 118px 0;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: rgba(35, 31, 32, 0.6);
  padding: 10px;
}
.comp1 {
  background: url(/assets/1723.jpg);
  width: 700px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.comp2 {
  background: url(/assets/1724.jpg);
  width: 344px;
  height: 239px;
  background-repeat: no-repeat;
  background-size: cover;
}
.comp3 {
  background: url(/assets/coatofarm.jpg);
  width: 344px;
  height: 239px;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  margin-top: 20px;
}
.box p {
  background-color: #1b7339;
  width: 100%;
  height: 60px;
  color: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

.news_img {
  position: relative;
  width: 700px;
  height: 500px;
}
