.header {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.68px;
  color: #dd0000;
  margin-bottom: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.bg {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(35, 31, 32, 0.6);
  padding: 10px;
}
.bg p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 10px 0;
}

.btn {
  color: #fff;
  background: #dd0000;
  padding: 10px;
  border: none;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.container_child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container_child_img1 {
  height: 250px;
}

.bg1 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(35, 31, 32, 0.6);
  padding: 10px;
}
.bg1 p {
  font-weight: 600;
  font-size: 12px;
}

.box {
  margin: 40px 0;
  padding: 10px;
  width: 100%;
  color: white;
  background-color: #1b7339;
  font-size: 20px;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .header {
    font-size: 25px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bg p {
    font-size: 12px;
  }

  .btn {
    font-size: 10px;
    color: #fff;
    background: #dd0000;
    padding: 7px;
    border: none;
  }

  .link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
  }

  .container_child_img {
    height: 250px;
  }

  .box {
    font-size: 16px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
