.news {
  width: 100%;
}

.news_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.img_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #1b7339;
  margin-bottom: 10px;
}

.description {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.timeline {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.btn_readmore {
  padding: 10px 24px;
  background: #231f20;
  color: #fff;
  border: none;
  font-size: 12px;
  text-decoration: none;
  display: inline-flex;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .news_item {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .img_container {
    height: 200px;
  }
}
