.news_header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}
.timeline {
  font-size: 16px;
  font-weight: 400;
  color: #000000b6;
}
.img_container {
  position: relative;
  width: 1088px;
  height: 532px;
}
.flex {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.flex p {
  font-size: 20px;
  font-weight: 400;
}
